@use '../../styles/themeVariables' as themeVariables;

/* stylelint-disable selector-class-pattern */
.dark-theme [class*=MainFeed-scss--module_myPage_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=MainFeed-scss--module_subscriptions_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=FeedFilter-scss--module_root_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=NotificationsEmpty-scss--module_wrapper_] [class*=NotificationsEmpty-scss--module_image_] {
  background-image: url('https://static.boosty.to/$bell-dark.8jgYa1sn.svg') !important;
}

.dark-theme [class*=FileButton-scss--module_label_] {
  background: #191919 !important;
}

.dark-theme [class*=SettingsEditSocialLinksField-scss--module_iconWrapper_] {
  background: #191919 !important;
}

.dark-theme [class*=BlogLayoutWrapper-scss--module_shareDonationLinkBlock_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=Targets-scss--module_card_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=Card-scss--module_block_] {
  margin-bottom: 15px !important;
}

.dark-theme [class*=SubscriptionLevelsExampleTemplate-scss--module_root_] {
  background: var(--var-color-panel-bg);
}

.dark-theme [class*=SubscriptionLevelsExampleTemplate-scss--module_price_] {
  color: var(--var-color-text-secondary);
}

.dark-theme [class*=Board-scss--module_container_] {
  border-color: var(--var-color-block-border);
}

.dark-theme [class*=BlogUnsubscribes-scss--module_failContentTitle_] {
  color: var(--var-color-text-primary);
}

.dark-theme [class*=BlogUnsubscribes-scss--module_failContentDescription_] {
  color: var(--var-color-text-secondary);
}

.dark-theme [class*=BlogUnsubscribes-scss--module_failContent_] {
  filter: none !important;
}

.dark-theme [class*=BlogUnsubscribes-scss--module_failContentIcon_] {
  filter: invert(1) hue-rotate(180deg) brightness(2) contrast(0.8) grayscale(1);
}

.dark-theme [class*=BroadcastMessageStatsEmpty-scss--module_title_] {
  color: var(--var-color-text-primary);
}

.dark-theme [class*=BroadcastMessageStatsEmpty-scss--module_description_] {
  color: var(--var-color-text-secondary);
}

.dark-theme [class*=BroadcastMessageStatsEmpty-scss--module_image_] {
  margin-bottom: 10px;
}

.dark-theme [class*=OffersInfoItem-scss--module_root_] {
  background-color: var(--var-color-panel-bg);
}

.dark-theme [class*=LinkToAllPosts-scss--module_allPostsButton_] {
  background: var(--var-color-panel-bg);
}
/* stylelint-enable selector-class-pattern */
