/* stylelint-disable selector-class-pattern */
[class*=InputField-scss--module_inputField_] {
  cursor: pointer;
}

[class*=VerticalRadioTabItem-scss--module_root_][class*=VerticalRadioTabItem-scss--module_active_] {
  cursor: default !important;
}

[class*=TabItem-scss--module_root_][class*=TabItem-scss--module_active_] {
  cursor: default !important;
}

[class*=SettingsEditSocialLinksField-scss--module_iconWrapper_] {
  margin-top: 0.5px !important;
}

[class*=AudioPlayer-scss--module_inputTrack_]::before {
  height: 4px !important;
}

[class*=SubscriptionLevels-scss--module_giftIcon_] {
  min-height: 20px;
  min-width: 20px;
}

[class*=CreatedAt-scss--module_headerLink_] {
  line-height: 17px;
}

[class*=TimeCodeRedactor-scss--module_list_] {
  overflow: auto !important;
}

[class*=Progress-scss--module_inputTrack_]::before {
  height: 4px !important;
}

[class*=AppAudioPlayer-scss--module_root_] {
  width: 586px !important;
}

[class*=StepStartGiftSubscription-scss--module_slider_] {
  > .react-swipeable-view-container {
    height: 100% !important;
  }
}
/* stylelint-enable selector-class-pattern */
