/* stylelint-disable selector-class-pattern */
.InputField_inputField_vzhmi {
  cursor: pointer;
}

.VerticalRadioTabItem_root_TdF_J.VerticalRadioTabItem_active_WPi2_ {
  cursor: default !important;
}

.TabItem_root_JyMmP.TabItem_active_lXfvy {
  cursor: default !important;
}

.SettingsEditSocialLinksField_iconWrapper_dg8Vh {
  margin-top: 0.5px !important;
}

.AudioPlayer_inputTrack_R9AEa::before {
  height: 4px !important;
}

.SubscriptionLevels_giftIcon_HbkXW {
  min-height: 20px;
  min-width: 20px;
}

.CreatedAt_headerLink_CEfWB {
  line-height: 17px;
}

.TimeCodeRedactor_list_q1paq {
  overflow: auto !important;
}

.Progress_inputTrack_WdwYS::before {
  height: 4px !important;
}

.AppAudioPlayer_root_LK6Ec {
  width: 586px !important;
}

.StepStartGiftSubscription_slider_M88_0 {
  > .react-swipeable-view-container {
    height: 100% !important;
  }
}
/* stylelint-enable selector-class-pattern */
