//Common
$highlight-color: #f15f2c;

// Dark theme
$dark-light-text-color: #fff;
$dark-main-text-color: #f1f1f1;
$dark-secondary-text-color: #838383;
$dark-disabled-text-color: #686868;
$dark-main-background-color: #191919;
$dark-base-background-color: #262626;
$dark-light-background-color: #303030;
$dark-hover-background-color: #4a4a4a;
$dark-base-border-color: #4a4a4a;
$dark-hover-border-color: #ccc;
$dark-light-border-color: #303030;
$dark-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

// Light theme
$light-main-text-color: #242b2c;
$light-base-background-color: #fff;
$light-base-border-color: #eaeaea;
$light-hover-border-color: #ccc;
