//Common
$highlight-color: #f15f2c;
$error-color: #cb1a1a;

// Dark theme
$dark-light-text-color: #fff;
$dark-main-text-color: #f1f1f1;
$dark-secondary-text-color: #838383;
$dark-disabled-text-color: #686868;
$dark-main-background-color: #191919;
$dark-base-background-color: #262626;
$dark-light-background-color: #303030;
$dark-hover-background-color: #4a4a4a;
$dark-base-border-color: #4a4a4a;
$dark-hover-border-color: #ccc;
$dark-light-border-color: #303030;
$dark-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);

// Light theme
$light-main-text-color: #242b2c;
$light-secondary-text-color: #7c7c7c;
$light-base-background-color: #fff;
$light-base-border-color: #eaeaea;
$light-hover-border-color: #ccc;

.dark-theme {
  --color-bg: #191919 !important;
  --var-color-text-primary: #f1f1f1 !important;
  --var-color-text-regular: #eee !important;
  --var-color-base-border: #4a4a4a !important;
  --var-color-panel-bg: #262626 !important;
  --var-color-theme-bg: #191919 !important;
  --var-color-bg: #262626 !important;
  --var-color-light-post-bg: #262626 !important;
  --var-color-post-bg: #262626 !important;
  --var-color-popup-bg: #262626 !important;
  --var-color-icon-ui: #ababab !important;
  --var-color-icon-ui-hover: #f1f1f1 !important;
  --var-color-icon-ui-hover-bg: #262626 !important;
  --var-color-icon-ui-active-bg: #303030 !important;
  --var-color-extra-ui-hover: #c9c9c9 !important;
  --var-color-post-text: #eee !important;
  --var-color-tooltip-bg: #262626 !important;
  --var-color-block-bg: #262626 !important;
  --var-color-block-note-bg: rgba(255, 255, 255, 0.07) !important;
  --var-color-block-border: transparent !important;
  --var-color-text-secondary: #8c8c8c !important;
  --var-color-error: #f7402b !important;
  --var-color-link: #ef7729 !important;
  --var-color-input-border: transparent !important;
  --var-color-input-border-hover: #4a4a4a !important;
  --var-color-input-border-focus: #7c7c7c !important;
  --var-color-input-bg: #191919 !important;
  --var-color-input-bg-disabled: #222 !important;
  --var-color-input-contained-bg: #303030 !important;
  --var-color-self-message-bg: #eee !important;
  --var-color-chatmate-message-bg: rgba(255, 255, 255, 0.07) !important;
  --var-color-self-message-text: #242b2c !important;
  --var-color-chatmate-message-text: #f1f1f1 !important;
  --var-color-chip-bg: rgba(255, 255, 255, 0.07) !important;
  --var-color-chip-bg-hover: rgba(255, 255, 255, 0.1) !important;
  --var-color-highlighted-bg: rgba(255, 255, 255, 0.07) !important;
  --var-color-highlighted-border: #f15f2c !important;
  --var-color-highlighted-text: #242b2c !important;
  --var-color-text-selection: var(--color-brand-opacity-30) !important;
  --var-color-illustration-stroke: #eee !important;
  --var-color-input-text-disabled: #838383 !important;
}
